[Desktop Entry]
Encoding=UTF-8
Name=Link para AngularJS - #9 - Criando Filtros - Rodrigo Branas - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=Ps9zZsrFyqM&list=PLQCmSnNFVYnTD5p2fR4EXmtlR6jQJMbPb&index=9
Icon=text-html
