[Desktop Entry]
Encoding=UTF-8
Name=Link para AngularJS - #6 - Integrando com o back-end por AJAX - Rodrigo Branas - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=VU38CEVwPck&list=PLQCmSnNFVYnTD5p2fR4EXmtlR6jQJMbPb&index=6
Icon=text-html
