[Desktop Entry]
Encoding=UTF-8
Name=Link para AngularJS - #7 - Organizando o projeto - Rodrigo Branas - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=Ma6VVQdvGq4&index=7&list=PLQCmSnNFVYnTD5p2fR4EXmtlR6jQJMbPb
Icon=text-html
