[Desktop Entry]
Encoding=UTF-8
Name=Link para AngularJS - #15 - Interceptors - Rodrigo Branas - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=XrX59s_v3U0&index=15&list=PLQCmSnNFVYnTD5p2fR4EXmtlR6jQJMbPb
Icon=text-html
