[Desktop Entry]
Encoding=UTF-8
Name=Link para AngularJS - #13 - Modularizando o projeto - Rodrigo Branas - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=S8Hoqk5C_RA&list=PLQCmSnNFVYnTD5p2fR4EXmtlR6jQJMbPb&index=13
Icon=text-html
