<html ng-app="listaTelefonica">
    <head>
        <meta charset="UTF-8">
        <title>Lista Telefonica</title>
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
        <style>
            .jumbotron {
                width: 600px;
                text-align: center;
                margin-top: 20px;
                margin-right: auto;
                margin-left: auto;
            }
            .table {
                margin-top: 20px;
            }
            .selecionado {
                background-color: yellow;
            }
            .negrito {
                font-weight: bold;
            }
        </style>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-messages/angular-messages.js"></script>
        <script src="bower_components/angular-locale-pt-br/angular-locale_pt-br.js"></script>
        <script>
            var app = angular.module("listaTelefonica", ["ngMessages"]);
            app.controller("listaTelefonicaCtrl",function($scope, $filter, $http) {
                $scope.app = "Lista Telefonica";

                var API_CONTATOS = "http://localhost:3000";
                var API_OPERADORAS = "http://localhost:3001";

                var carregarContatos = function() {
                    $http.get(API_CONTATOS).success(function(data, status) {
                        $scope.contatos = data;
                    });
                };
                
                var carregarOperadoras = function() {
                    $http.get(API_OPERADORAS).success(function(data, status) {
                        $scope.operadoras = data;
                    });
                };

                $scope.adicionarContato = function(contato) {
                    contato.data = new Date();
                    $http.post(API_CONTATOS, contato).success(function(data) {
                        delete $scope.contato;
                        $scope.contatoForm.$setPristine();
                        carregarContatos();
                    }).error(function(data, status) {
                        console.log("ERRO");
                    });;
                }
                $scope.apagarContatos = function(contatos) {
                    $scope.contatos = contatos.filter(function(contato) {
                        if (!contato.selecionado) return contato;
                    });
                }
                $scope.isContatoSelecionado = function(contatos) {
                    return contatos.some(function(contato) {
                        return contato.selecionado;
                    });
                }
                $scope.ordenarPor = function(campo) {
                    $scope.criterioDeOrdenacao = campo;
                    $scope.direcaoDaOrdenacao = !$scope.direcaoDaOrdenacao;
                }
                carregarContatos();
                carregarOperadoras();
            });
        </script>
   </head>
    <body ng-controller="listaTelefonicaCtrl">
        <div class="jumbotron">
            <h3>{{app}}</h3>
            <input type="text" class="form-control" ng-model="criterioDeBusca" placeholder="O que você está buscando?">
            <table class="table table-striped" ng-show="contatos.length > 0">
                <tr>
                    <th></th>
                    <th><a href="" ng-click="ordenarPor('nome')">Nome</a></th>
                    <th><a href="" ng-click="ordenarPor('telefone')">Telefone</a></th>
                    <th>Operadora</th>
                    <th>Data</th>
                    <th></th>
                </tr>
                <tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos | filter:criterioDeBusca | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao">
                    <td><input type="checkbox" ng-model="contato.selecionado"></td>
                    <td>{{contato.nome}}</td>
                    <td>{{contato.telefone}}</td>
                    <td>{{contato.operadora.nome}}</td>
                    <td>{{contato.data | date:'EEE dd/MM/yyyy hh:mm'}}</td>
                    <td><div style="width: 20px; height: 20px" ng-style="{'background-color': contato.cor}"></div></td>
                </tr>
            </table>
            <hr>
            <form id="form1" name="contatoForm" data-toggle="validator" role="form">
                <input class="form-control" type="text" ng-model="contato.nome" name="nome" placeholder="nome" ng-required="true" ng-minlength="10" required>
                <input class="form-control" type="text" ng-model="contato.telefone" name="telefone" placeholder="telefone" ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/">
                <select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome + ' (' + (operadora.preco | currency) + ')' group by operadora.categoria for operadora in operadoras | orderBy:'nome'">
                    <option value="">Selecione uma operadora</option>
                </select>
            </form>
            

            <div ng-messages="contatoForm.telefone.$error" class="alert alert-danger" ng-show="contatoForm.telefone.$dirty">
                <div ng-message="required">
                    Por favor, preencha o campo telefone!
                </div>
                <div ng-message="pattern" ng-show="contatoForm.telefone.$dirty">
                    O campo Telefone deve ter o formato [D]DDDD-DDDD - [D] Opcional
                </div>
            </div>
            <button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)" ng-disabled="contatoForm.$invalid">Adicionar Contato</button>
            <button class="btn btn-danger btn-block" ng-click="apagarContatos(contatos)" ng-if="isContatoSelecionado(contatos)">Apagar Contatos</button>
        </div>
        <div ng-include="'footer.html'"></div>
    </body>
</html>