<div class="jumbotron">
            
            <h3>{{app}}</h3>
            <ui-alert title="Ops, Ocorreu um problema" message="error">
                Transclude mantém o que tem dentro da tag
            </ui-alert>
            <input type="text" class="form-control" ng-model="criterioDeBusca" placeholder="O que você está buscando?">
            <table class="table table-striped" ng-show="contatos.length > 0">
                <tr>
                    <th></th>
                    <th>Serial</th>
                    <th><a href="" ng-click="ordenarPor('nome')">Nome</a></th>
                    <th><a href="" ng-click="ordenarPor('telefone')">Telefone</a></th>
                    <th>Operadora</th>
                    <th>Data</th>
                    <th></th>
                </tr>
                <tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos | filter:criterioDeBusca | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao">
                    <td><input type="checkbox" ng-model="contato.selecionado"></td>
                    <td>{{contato.serial}}</td>
                    <td><a href="#/detalhesContato/{{$id}}">{{contato.nome | name}}</a></td>
                    <td>{{contato.telefone}}</td>
                    <td>{{contato.operadora.nome}}</td>
                    <td>{{contato.data | date:'EEE dd/MM/yyyy hh:mm'}}</td>
                    <td><div style="width: 20px; height: 20px" ng-style="{'background-color': contato.cor}"></div></td>
                </tr>
            </table>
            <hr>
            <a class="btn btn-primary btn-block" href="#/novocontato">Novo Contato</a>
            <button class="btn btn-danger btn-block" ng-click="apagarContatos(contatos)" ng-if="isContatoSelecionado(contatos)">Apagar Contatos</button>
        </div>